@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --neutral-1: hsl(226, 43%, 10%);
    --neutral-2: hsl(235, 46%, 20%);
    --neutral-3: hsl(235, 45%, 61%);
    --neutral-4: hsl(236, 100%, 87%);

    --avatar: hsl(246, 80%, 60%);
    --orange: hsl(15, 100%, 70%);
    --cyan: hsl(195, 74%, 62%);
    --red: hsl(348, 100%, 68%);
    --green: hsl(145, 58%, 55%);
    --purple: hsl(264, 64%, 52%);
    --yellow: hsl(43, 84%, 65%);

    --bg: var(--neutral-2);
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--neutral-1);
    color: white;
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1rem, 3vw, 2rem);
}

.card {
    background-color: var(--bg);
    border-radius: 1rem;
}

.card>div {
    background-color: var(--bg);
}

.card--avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card--avatar-top {
    --bg: var(--avatar);
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.avatar {
    width: clamp(4rem, 7vw, 7.5rem);
    border: .2rem solid white;
    border-radius: 100vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    flex: 1 1 20%;
}

h1 {
    flex: 1 1 50%;
    font-size: 1.2rem;
    font-weight: 300;
    --txt: var(--neutral-2);
}

h1 > span {
    font-size: .7rem;
}

.card--avatar-bottom {
    --bg: var(--neutral-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem .5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.btn {
    color: var(--neutral-3);
    font: inherit;
    background: none;
    border: none;
    flex: 1 1 100%;
    border-radius: .5rem;
    padding: .2rem .8rem;
}

.btn.active {
    color: var(--txt);
}